
<%- include("partials/header.ejs") %>

<div class="b-example-divider"></div>
    
  <div class="container-fluid img">
     <header class="header-img">
      <img id="wallpaper" src="images/gym room.jpg" alt="fitness room" width="100%" height="1000">
    <section class="header-title">
     <h1>Explore the journey of fitness and make one of your own</h1>
     <h2 class="sub-head"><u>Just a fitness blog to inspire many </u></h2>
    </section>

      <div class="read">
        <h2 >Why is Fitnes Matters ? </h2> 
        <a href=" https://mana.md/the-importance-of-physical-fitness/"><button type="button" class="btn btn-warning mx-4"> Read </button></a>
      </div>
    <div class="create">
      <h2 >Let everyone know your journey</h2>
      <a href="/create"><button type="button" class="btn btn-warning mx-4"> Create </button></a>
    </div>
  </div>

      <% if(blogs.length !=0){ %>
      <div class="grid-container">
        <% blogs.forEach(blog => { %>
        <div class="grid-item"> 
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-text"><%=blog.title %></h3>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            <a id="view" class="updation" href="/view/<%=blog.id%>">View</a>
              <a id="edit" class="updation" href="/edit/<%=blog.id%>">Edit</a>
             <a id="delete" class="updation" href="/delete/<%=blog.id%>">delete</a>
            </div>
            <p class="text-muted">By: <%=blog.authorfname%> <%=blog.authorlname%></p>
          </div>
        </div>
      </div>
    </div>
    <% });%>
    </div>
    <% } %>
 

    <%- include("partials/footer.ejs") %>
   